.global-container{
    background-image: url("../image/background.png");
    background-size: cover;
    display: grid;
    grid-template-areas:
    "header-container"
    "content-container"
    "footer-container";
    grid-gap: 20px;
    font-family: roboto, sans-serif;
    padding: 0 170px;
    /*margin: 0 auto;*/
}

.header-container{
    grid-area: header-container;
    margin-top: 50px;
}

.header-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo-container{
    color: white;
    text-decoration: none;
    display: inline-block;
}

.logo-container:hover .logo-img{
    content: url("../image/logo-small-orange-image.png");
}

.logo-container:hover{
    color: #F26522;
}

.logo-text-container{
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.logo-text{
    font-size: 29px;
    margin: 0 auto;
}

.logo-text-small{
    font-size: 18px;
    margin: 0 auto;
}

.contact-info{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.email{
    text-decoration: none;
    color: white;
    padding-bottom: 15px;
}

.email:hover{
    color: #F26522;
}
.phone-number{
    text-decoration: none;
    color: white;
}

.phone-number:hover{
    color: #F26522;
}
/***********content section************/

.tour-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tour-info{
    text-decoration: none;
    color: white;
    text-align:  center;
}

.tour-info:hover .slider-container{
    opacity: 1;
    transition: 1s;
}

.tour-info:hover .tour-link{
    color: #F26522;
}

.content-container{
    grid-area: content-container;
}

.tour{
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 220px;
    margin: 38px 0 20px;
    border: 3px solid;
    border-image-source: linear-gradient(to bottom,purple, green);
    border-image-slice: 1;

}


.shopping-tour{
    background-image: url("../image/tours/shopping-tours-1.png");
}

.sightseeing-tour{
    background-image: url("../image/tours/sightseeing-tours-2.png");
}

.food-tour{
    background-image: url("../image/tours/food-tours-3.png");
}

.bars-tour{
    background-image: url("../image/tours/bars-tours-4.png");
}

.art-tour{
    background-image: url("../image/tours/art-tours-5.png");
}

.walking-tour{
    background-image: url("../image/tours/walking-tours-6.png");
}

.slider-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    background-color: #F26522;
    padding: 14px;
    opacity: 0;
    transition: 1s;
}


.slider-text{
    font-size: 10px;
}

.slider-price{
    font-size: 20px;
    margin: 0;
}

.slider-details{
    display: flex;
    font-size: 14px;
    align-items: flex-end;
    text-decoration: none;
    color: white;
}
.slider-details::after{
    content: "\203A";
    margin-left: 16px;
}

.tour-link{
    color: white;
    text-decoration: none;
}

/**********footer section***********/
.footer-container{
    grid-area: footer-container;
}
.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    margin-top: 30px;
    padding-bottom: 15px;
}